<div class="min-[501px]:bg-[#FFFFFF] h-screen flex items-center justify-center">
  <div class="min-[501px]:w-screen h-screen grid grid-cols-6 gap-0 shadow-lg overflow-hidden">
    <!-- Left Column: Login Form -->
    <div class="min-[501px]:bg-[#FFFFFF] flex flex-col col-span-2 justify-start h-full px-18 pt-10">
      <!-- Logo -->
      <div class="min-[501px]:text-center pt-5 pb-10">
        <%= image_tag "logo_odt_login.svg", alt: "Logo", class: "min-[501px]:mx-auto h-16 w-auto" %>
      </div>
      <div class="min-[501px]:text-center pb-4">
        <h3 class="min-[501px]:text-5xl text-[#000000] ">Intern - Log</h3>
      </div>
      <div class="min-[501px]:text-center pb-6">
        <hr class="min-[501px]:text-[#E2DEDE] mt-2">
      </div>
      <!-- Flash Messages -->
      <% if alert = flash[:alert] %>
        <p class="min-[501px]:py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
      <% end %>
      <% if notice = flash[:notice] %>
        <p class="min-[501px]:py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <!-- Form -->
      <%= form_with url: session_url, class: "min-[501px]:space-y-4 pb-6" do |form| %>
        <div class="min-[501px]:pb-4">
          <%= form.label :email_address, "Email", class: "min-[501px]:block text-[#000000] pb-2" %>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Example@gmail.com", value: params[:email_address], 
            class: "min-[501px]:w-full px-4 py-2 border-3 border-[#B0AEAE] rounded-lg focus:ring-[#7D58BF] placeholder-[#929292]" %>
        </div>
        <div class="min-[501px]:pb-6">
          <%= form.label :password, "Password", class: "min-[501px]:block text-[#000000] pb-2" %>
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, 
            class: "min-[501px]:w-full px-4 py-2 border-3 border-[#B0AEAE] rounded-lg focus:ring-[#7D58BF] placeholder-[#929292]" %>
        </div>
        <!-- Submit Button -->
        <div class="min-[501px]:pb-4 ">
          <%= form.submit "Login ", class: "min-[501px]:w-full bg-[#7D58BF] text-[#FFFFFF] py-3 rounded-lg hover:bg-[#5c3e90] font-medium cursor-pointer" %>
        </div>
      <% end %>
      <!-- Forgot Password & Register
      <div class="text-center pb-2">
        <%= link_to "Forgot password?", new_password_path, class: "text-[#0056A9] hover:underline" %>
      </div> -->
      <hr class="min-[501px]:text-[#E2DEDE] pb-2">
      <p class="min-[501px]:text-center mt-4 text-[#929292]">
        Don’t have an account yet?
        <%= link_to "Register", "/register", class: "min-[501px]:text-[#0056A9] hover:underline" %>
      </p>
    </div>

    <!-- Right Column: Image Slider -->
    <div class="min-[501px]:flex col-span-4 items-center justify-center">
      <div data-controller="slideshow"
          data-slideshow-images="<%= (1..8).map { |i| asset_path("login_slideshow/login_slideshow#{i}.png") }.to_json %>"
          class="relative overflow-hidden shadow-lg">
        <%= image_tag "login_slideshow/login_slideshow1.png", 
          data: { slideshow_target: "image" }, 
          class: "min-[501px]:w-full h-full object-cover transition-opacity duration-1000 ease-in-out"
        %>
      </div>
    </div>
  </div>
</div>
