<div data-newdailymodal-target="modal" class="fixed inset-0 bg-opacity-100 items-center justify-center hidden">
  <div data-newdailymodal-target="modal_content" class="bg-[#7D58BF] opacity-0 translate-y-full rounded-lg shadow-lg w-[calc(90vw)] max-w-3xl max-h-[calc(80vh)] p-2 text-center transform transition-all duration-300">
    <h1 class="text-2xl sm:text-3xl font-bold text-white mb-1 mt-3 sm:mb-2 sm:mt-5">New Daily Task</h1>
    <div class="bg-white rounded-lg w-full p-5 mt-5 text-xl">
      <%= form_with model: @task, url: home_create_task_path, local: true , data: { turbo_method: :post,controller: "form-validator", "newdailymodal-target":"form" }  do |f| %>
        <div class="grid grid-cols-10 gap-4 mb-4">
          <label class="col-span-2 text-right font-semibold">Date:</label>
          <%= f.date_field :date, value: (@task.date || Date.today).strftime('%Y-%m-%d'), 
            max:Date.today.strftime('%Y-%m-%d'),
            class: "col-span-8 border border-neutral-400 rounded focus:outline-none focus:ring-2 focus:border-[#7d58bf] focus:ring-[#7d58bf]",
            data: { "form-validator-target": "date", action: "change->form-validator#validateForm", "newdailymodal-target":"input_date" } %>
        </div>
        <div data-form-validator-target="date_error" class="hidden grid-cols-10 gap-4 mb-4">
          <div class="col-span-2"></div>
          <div class="col-span-8 bg-red-200 items-center rounded-md text-center p-1 flex">
            <%= image_tag 'error.svg', width: 30, height: 30 ,class:"min-w-[30px] me-2" %>
            <h1 class="text-red-800 text-lg font-semibold">Error: This date already exists in daily tasks</h1>
          </div>
        </div>
        <div class="grid grid-cols-10 gap-4 mb-4" data-controller="worktime">
          <label class="block col-span-2 text-right text-md sm:hidden">Wt:</label>
          <label class="col-span-2 text-right hidden sm:block font-semibold">Worktime:</label>
          <div class="flex space-x-2 col-span-8">
            <!-- ✅ Hours Select -->
            <%= f.select :hours, 
                  options_for_select((0..8).map { |h| ["#{h.to_s.rjust(2, "0")}", h] }, f.object.hours),{},
                  class: "border rounded border-neutral-400 pl-1 bg-white focus:border-[#7d58bf] focus:outline-none focus:ring-2 focus:ring-[#7d58bf]",
                  data: { 
                    "form-validator-target": "hours", 
                    action: "form-validator#validateForm change->worktime#updateMinutes",
                    "newdailymodal-target":"input_hours"
                  }
                %>
            <span>hours</span>
            <%= f.select :mins, 
                options_for_select([["00", 0], ["30", 30]], f.object.mins),{},
                  class: "border rounded pl-1 border-neutral-400 bg-white focus:border-[#7d58bf] focus:outline-none focus:ring-2 focus:ring-[#7d58bf]",
                  id: "worktime-minutes",
                  data: { 
                    "form-validator-target": "mins", 
                    action: "change->form-validator#validateForm" ,
                    "newdailymodal-target":"input_mins"
                  }
            %>
            <span>minutes</span>
          </div>
        </div>
        <div class="grid grid-cols-10 gap-4">
          <label class="block col-span-2 text-right font-semibold">Detail:</label>
          <%= f.text_area :detail,placeholder: "(Optional)",
            :maxlength => 255,
            class: "border rounded min-h-32 border-neutral-400 sm:min-h-48 w-full px-2 col-span-8 focus:border-[#7d58bf] focus:outline-none focus:ring-2 focus:ring-[#7d58bf]",
            data: { "form-validator-target": "detail", action: "input->form-validator#validateForm","newdailymodal-target":"input_detail" } %>
        </div>
        <div class="flex justify-end space-x-4 mt-5">
          <button data-action="click->newdailymodal#close_modal"
            class="bg-red-400 text-white px-4 py-2 rounded cursor-pointer"
            onclick="event.preventDefault();">Cancel</button>
          <%= button_tag "Next",
                                    class: "bg-gray-400 text-white px-4 py-2 rounded cursor-not-allowed",
                                    id: "continue-button",
                                    disabled: true,
                                    data: {
                                      action: "click->newdailymodal#confirm",
                                      "form-validator-target": "continueButton"
                                    },
                                    onclick:"event.preventDefault();"
                                %>
          <!-- <%= f.submit "Continue" , class: "bg-blue-400 text-white px-4 py-2 rounded" %> --->
        </div>
      <% end %>
    </div>
  </div>
</div>