<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit_square" />
<%= render "layouts/navbar" %>
<div class="mx-auto max-w-screen-md md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl">
  <div class="mt-4 mb-10">
    <!-- Success Modal -->
    <%= render "successModal"%>
    <div data-controller="newdailymodal">
      <div data-newdailymodal-target="background" class="mt-20 md:mt-25">
        <div class="flex justify-center flex-col">
          <% if @user.present? %>
            <p class="mt-4 text-xl text-black ml-2 mb-4">
              <span class="px-6 py-1 rounded-lg text-black text-xl">
                <%= @user.username %>
              </span>
            </p>
          <% else %>
            <p class="mt-4 text-xl text-black ml-2 mb-4 font-bold">
              <span class="px-6 py-1 rounded-lg text-black text-xl">
                <%= "User not found" %>
              </span>
            </p>
          <% end %>
          <!-- Dropdown Filter -->
          <div class="flex items-center px-4 pb-5" data-controller="month-filter">
            <div class="relative w-64">
              <select id="monthFilter" data-action="change->month-filter#filterByMonth"
                class="appearance-none w-full bg-transparent h-[39] border-b-2 text-gray-700 py-2 px-4 pr-8 focus:outline-none focus:ring-0 focus:border-[#7D58BF] transition border-[#7D58BF]">
                <option value="">All Months</option>
                <% (1..12).each do |m| %>
                  <option value="<%= m %>"><%= Date::MONTHNAMES[m] %></option>
                <% end %>
              </select>
              <!-- Dropdown Icon -->
              <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          </div>
          <!-- Table -->
          <div class="flex justify-center flex-col">
            <table class="bg-white shadow-lg rounded-lg overflow-hidden mx-3" data-controller="sort-date">
              <thead>
                <tr class="bg-[#DF633B] text-white text-left rounded-tr-lg h-13">
                  <th class="px-4 w-1/4 text-2xl font-medium cursor-pointer"
                    data-action="click->sort-date#sortTable" data-sort-direction="desc">
                    Date 
                    <img data-sort-date-target="icon" 
                      data-icon-up="<%= asset_path('arrow_drop_up.svg') %>"
                      data-icon-down="<%= asset_path('arrow_drop_down.svg') %>"
                      src="<%= asset_path('arrow_drop_up.svg') %>" 
                      alt="Sort Icon" class="inline-block w-6 h-6">
                  </th>
                  <th class="px-4 w-1/4 text-2xl font-medium">Work time</th>
                  <th class="px-4 w-2/4 text-2xl font-medium">Details</th>
                </tr>
              </thead>
              <tbody data-sort-date-target="tbody">
                <% @tasks.each do |task| %>
                  <tr class="task-row bg-gray-100 border-t-6 border-white">
                    <td class=" px-4 py-2 task-date">
                      <%= task.date.strftime("%d/%m/%Y") %>
                    </td>
                    <td class="px-4 py-2 break-words">
                      <%= [task.hours > 0 ? "#{task.hours} hours" : nil, task.mins > 0 ? "#{task.mins} minutes" : nil].compact.join(" ") %>
                    </td>
                    <td class="px-4 py-2 flex justify-between items-center">
                      <span class="w-[16ch] sm:w-[20ch] md:w-[40ch] lg:w-[60ch] break-words">
                        <%= task.detail %>
                      </span>
                      <button class="bg-orange-200 hover:bg-orange-300 text-orange-700 px-2 py-1 rounded edit-task-btn cursor-pointer"
                        data-id="<%= task.id %>"
                        data-date="<%= task.date %>"
                        data-hours="<%= task.hours %>"
                        data-mins="<%= task.mins %>"
                        data-detail="<%= task.detail %>"
                        data-turbo="false">
                        <%= image_tag 'edit.svg', width: 30, height: 30 ,class:"min-w-[30px]" %>
                      </button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Floating Button -->
        <div class="fixed bottom-8 right-10">
          <button data-action="click->newdailymodal#show_modal" data-newdailymodal-target="add_button"
            class="bg-[#7D58BF] cursor-pointer text-2xl p-4 rounded-full shadow-lg transition duration-300 ease-in-out hover:scale-110 hover:bg-purple-800 hover:shadow-xl">
            <%= image_tag 'add.svg', width: 30, height: 30 %>
          </button>
        </div>
      </div>
    </div>
    <%= render "addDaily" %>
    <%= render "confirmDaily" %>
    <%= render "edit" %>
  </div>
</div>