<%= render "layouts/navbar" , user:@user%>
<div class="mt-35 flex justify-center flex-col mx-auto max-w-screen-md md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mb-10" data-controller="filter">
  <!-- Dropdown Filter -->
  <div class="flex flex-col px-4 pb-3 pl-7 mb-6">
    <h2 class="text-2xl font-bold mb-6 ml-6"><span class="text-[#4400bb]"><%= @user.username %></span><span class="text-[#4400bb]">'s</span> Worktime</h2>
    <div class="relative w-64 mb-4 ml-6">
      <select  data-filter-target="monthFilter" data-action="change->filter#filterTasks"
        class="appearance-none w-full bg-transparent h-[42] border rounded-lg border-2 text-gray-400 py-2 px-4 pr-8 focus:outline-none focus:ring-0 focus:border-[#7D58BF] transition border-[#906cd1]">
        <option value="">Select a Month</option>
        <% (1..12).each do |m| %>
          <option value="<%= m %>"><%= Date::MONTHNAMES[m] %></option>
        <% end %>
      </select>
      <!-- Dropdown Icon -->
      <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
        <svg class="w-5 h-5 text-[#7D58BF]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <!-- Table -->
    <div class="flex justify-center w-full overflow-auto flex-col">
      <table class="rounded-lg overflow-hidden mx-3">
        <thead>
          <tr class="bg-white text-gray-700 text-left rounded-tr-lg h-13 border-b border-gray-400">
            <th class="px-4 w-1/4 text-xl font-medium">Date</th>
            <th class="px-4 w-1/4 text-xl font-medium">Work time</th>
            <th class="px-4 w-1/4 text-xl font-medium">Details</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr class="task-row bg-white border-b border-gray-200 hover:bg-[#f8f7fb] transition duration-100 ease-in-out"
              data-filter-target="taskRow" data-month="<%= task.date.month %>">
              <td class="px-4 py-2 text-gray-600"><%= task.date.strftime("%d/%m/%Y") %></td>
              <td class="px-4 py-2 text-gray-600"><%= "#{task.hours} hours #{task.mins} minutes" %></td>
              <td class="px-4 py-2 text-gray-600"><%= task.detail %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
